* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(108, 117, 125), rgb(73, 80, 87), rgb(52, 58, 64));
}

#FalseBg {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 8px;
}

#MusicFileLoader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  height: 80px;
  border-radius: 10px;
}

.btns {
  width: 40px;
  height: 40px;
}

#fileBtn {
  color: rgb(222, 226, 230);
  font-family: Comic Sans MS;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.6s ease, visibility 0.6s ease;
} 

#fileBtn::file-selector-button {
  background-color: rgb(73, 80, 87);
  color: white;
}

#lock-screen {
  color: white;
  border-radius: 25%;
  background-color: rgb(73, 80, 87);
  box-shadow: 1px 1px 4px black;
  border: none;
}

#music_control {
  box-shadow: 2px 2px black;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  max-width: fit-content;
  background-color: rgb(173, 181, 189);
  border-radius: 30px;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#music_control audio {
  padding: 0 3px;
}

#Visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  width: 260px;
  background-color: transparent;
  border-radius: 10px;
  object-fit: contain;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 25px;
}

#wallpaperContainer {
  margin: 0 auto;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: transparent;
  width: 260px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.6s ease;
}
#wallpaperContainer.playing {
  box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

#wallpaperContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#music_control.uiLocked,  #fileBtn.uiLocked{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hide {
  display: none;
}